body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background: white;
    box-sizing: border-box;
}


/*Diseño de la barra de navegación*/
.navbar-container {
    background: blue;
    position: fixed;
    width: 100%;
    padding: 9px 13px;
    border-bottom: solid 5px greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    align-items: center;
}

    .navbar-container .navbar-dis-none {
        display: none;
    }

.notificacion {
    display: flex;
    align-items: center;
    flex-direction: row;
}

    .notificacion .navbar-dis-none {
        display: none;
    }

.navbar-container .flex {
    display: flex;
    align-items: center;
}

.navbar-container .logo label {
    font-weight: 900;
    color: white;
    font-size: 25px;
}

.navbar-container .flex div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .navbar-container .flex div nav {
        display: flex;
        justify-content: flex-start;
    }

        .navbar-container .flex div nav a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            font-weight: bold;
            transition: all .2s ease-in-out;
        }

.navbar-container .flex nav a:hover {
    color: greenyellow;
}

.navbar-container .flex nav a i {
    margin-right: 5px;
    font-size: 17px;
}


.navbar-container .flex .busqueda {
    display: flex;
    margin: 0 16px;
    flex-direction: row;
}

    .navbar-container .flex .busqueda .cajatexto {
        outline: none;
        border: 0;
        color: black;
        padding: 8px 10px;
        margin: 0;
        width: 100%;
        border-radius: 0;
        font-weight: 900;
        border-radius: 7px 0px 0px 7px;
        text-decoration: none;
        font-size: 15px;
        transition: all 0.3s ease;
        background-color: white;
    }

    .navbar-container .flex .busqueda .boton {
        border: 0;
        color: white;
        font-size: 23px;
        padding: 8px;
        width: 40px;
        font-weight: 900;
        border-radius: 10px;
        text-decoration: none;
        border-radius: 0px 7px 7px 0px;
        background-color: white;
        color: blue;
        transition: all 0.3s ease;
        border-left: solid 1px greenyellow;
        font-weight: 900;
    }

        .navbar-container .flex .busqueda .boton:hover {
            background-color: rgb(225, 225, 225);
        }

.navbar-container .flex .user i {
    margin-right: 3px;
    font-size: 17px;
}

.navbar-container .flex .user a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

    .navbar-container .flex .user a:hover {
        color: greenyellow;
    }

#lblLogin {
    cursor: default;
}

/*Diseño responcivo del navbar*/
@media only screen and (max-width:1282px) {
    .navbar-container .navbar-dis-none {
        display: block;
    }

        .navbar-container .navbar-dis-none .menu {
            transition: all .1s ease-in-out;
            color: white;
            background: greenyellow;
            padding: 0px 9px;
            font-size: 23px;
            font-weight: 900;
            border-radius: 3px;
        }

            .navbar-container .navbar-dis-none .menu:active {
                background: #7fcf05;
            }

    .notificacion .navbar-dis-none {
        display: flex;
        flex-direction: row;
    }

    .navbar-container .flex {
        position: absolute;
        overflow: scroll;
        z-index: 0;
        top: 61.2px;
        left: -320px;
        height: 100vh;
        padding: 0 15px;
        background: rgb(0, 0, 0, 0.86);
        display: flex;
        align-items: start;
        transition: all .25s ease-in-out;
        padding-bottom: 100px;
    }

        .navbar-container .flex div {
            margin-top: 20px;
            z-index: -2;
            flex-direction: column-reverse;
            justify-content: flex-start;
            width: 100%;
        }

            .navbar-container .flex div nav {
                flex-direction: column-reverse;
                width: 100%;
            }

                .navbar-container .flex div nav a {
                    text-align: left;
                    width: 100%;
                    margin: 10px 0;
                }

            .navbar-container .flex div .user {
                width: 100%;
            }

                .navbar-container .flex div .user a {
                    text-align: left;
                    width: 100%;
                }

            .navbar-container .flex div .busqueda {
                align-items: center;
                margin: 10px 0;
            }

                .navbar-container .flex div .busqueda .cajatexto {
                    background: none;
                    border-radius: 0px;
                    border-bottom: solid 2px greenyellow;
                    color: white;
                }

                .navbar-container .flex div .busqueda .boton {
                    padding: 7.8px 4px;
                    background: none;
                    color: greenyellow;
                    border-radius: 0px;
                    border-left: 0px;
                    border-bottom: solid 2px greenyellow;
                }

                    .navbar-container .flex div .busqueda .boton:hover {
                        background: none;
                        color: #7fcf05;
                    }
}

/*Fin diseño navbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(greenyellow,blue);
    border-radius: 10px;
}

.fila {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento {
    padding: 10px;
}


/*Targeta del producto*/
.imagenproducto {
    width: 200px;
    height: 200px;
}

.targeta {
    width: auto;
    height: 100%;
    border: solid 1px;
    border-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.cabeza-targeta {
    border-bottom: solid 1.5px lightgray;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}

.pie-targeta {
    border-top: solid 1.5px lightgray;
    text-align: center;
}

.cuerpo-targeta {
    padding: 45px;
    text-align: center;
}

.labelstock {
    font-size: 17px;
}

.nombreproducto {
    font-size: 17px;
    font-weight: 800;
    color: blue;
}

.descripcionproducto {
    font-size: 15px;
    font-weight: 500;
}

.precio {
    color: green;
    font-size: 17px;
    font-weight: 700;
}

.botones {
    margin-top: 5px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.botoncarrito {
    border: none;
    border: solid 1px;
    background: none;
    margin: 5px;
    height: 35px;
    font-weight: 900;
    border-radius: 6px;
    color: lawngreen;
    text-decoration: none;
    border-color: lawngreen;
    width: 100%;
    transition: all 0.3s ease;
}

.botondetalle {
    border: none;
    border: solid 1px;
    margin: 5px;
    background: none;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    font-weight: 800;
    color: blue;
    border-color: blue;
    transition: all 0.3s ease;
}

.botoncarrito:hover {
    background-color: lawngreen;
    color: white;
}

.botondetalle:hover {
    background-color: blue;
    color: white;
}

.texto {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}


/*Detalles del producto*/
.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productoimg .img {
    width: 445px;
    height: 445px;
    margin: 10px;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(to top,blue,greenyellow);
}


.nombreproducto2 {
    font-size: 30px;
    font-weight: 700;
    color: blue;
    margin: 0;
}

.nombreproducto3 {
    font-size: 24px;
    font-weight: 700;
    color: blue;
}

.precio2 {
    color: green;
    font-size: 24px;
    font-weight: 700;
}

.stock {
    font-size: 22px;
    font-weight: 900;
}

    .stock i {
        font-size: 22.5px;
        font-weight: 900;
        margin-right: 3px;
    }

.descripcionproducto {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    color: gray;
}

/*Diseño del carrito de compras*/
table {
    width: 100%;
    border-collapse: collapse;
}

    table thead {
        background: linear-gradient(to right, blue,greenyellow);
    }

        table thead tr th {
            text-align: center;
            padding: 6px 0;
            color: white;
        }

    table tbody tr {
    }

        table tbody tr td {
            text-align: center;
            font-weight: bold;
        }

            table tbody tr td img {
                width: 60px;
                height: 60px;
                margin: 10px 0;
            }

.flex-buttoms {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.item-price {
    color: green;
}

.btn-quantity {
    text-decoration: none;
    color: black;
    border: solid 2px blue;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

    .btn-quantity:hover {
        color: white;
        background-color: blue;
    }

.cantidad {
    border: solid 2px blue;
    padding: 0px 5px;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

    .cantidad:hover {
        color: white;
        background-color: blue;
    }

.textoboton {
    margin: 0 22px;
    font-weight: 800;
    font-size: 18px;
    color: red;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

    .textoboton:hover {
        color: red;
    }

    .textoboton:active {
        transform: scale(90%);
    }

/*Formulario de pedido*/
.form-pago {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 0 3px greenyellow, 0.4em 0.4em 1em blue;
    padding: 14px;
    margin:0 10px;
}

    .form-pago label {
        margin: 10px 5px;
        font-weight: 900;
    }

    .form-pago .textopago {
        background: none;
        border: 0px;
        text-align: center;
        border-bottom: solid 3px blue;
        color: green;
        font-weight: bold;
    }

    .form-pago .botonpedido {
        margin: 18px 0;
        border: 0px;
        background: blue;
        padding: 6px 0;
        color: greenyellow;
        font-weight: bold;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }

        .form-pago .botonpedido:hover {
            background-color: greenyellow;
            color: blue;
        }

/*Posicionar carrito y formulario*/
.flex-carrito {
    display: flex;
}

.contenedor-carrito {
    width: 100%;
}

.contenedor-formulario {
    width: 50%;
    margin: 2px;
}


/*Adaptacion a dispositvos moviles*/
@media(max-width:410px) {
    .productoimg .img {
        width: 100%;
        height: 100%;
    }

    .descripcionproducto {
        font-size: 12px;
        font-weight: bold;
    }
}

@media only screen and (max-width:1000px) {
    .flex {
        display: block;
    }

    .productoimg {
        text-align: center;
    }

        .productoimg .img {
            width: 300px;
            height: 300px;
        }

    .botones {
        flex-direction: column;
        font-size: 15px;
    }

    .nombreproducto {
        font-size: 13px;
    }

    .precio {
        font-size: 10px;
    }

    .labelstock {
        font-size: 13px;
    }

    .imagenproducto {
        text-align: center;
        width: 100px;
        height: 100px;
    }
    
}

@media only screen and (max-width:1199px) {
    .imagenproducto {
        text-align: center;
        width: 135px;
        height: 135px;
    }
}

@media only screen and (max-width:1000px) {
    .imagenproducto {
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

/*carrito*/
@media only screen and (max-width:400px) {
    table {
        font-size: 1px;
        font-weight: 900;
    }
}

@media only screen and (max-width:470px) {
    .dis-none {
        display: none;
    }
}

@media only screen and (max-width:820px) {
    table {
        font-size: 10.5px;
        font-weight: 900;
    }

    .cantidad {
        border: solid 2px blue;
        padding: 0px 5px;
        border-radius: 5px;
        margin: 0 10px;
        transition: all 0.2s ease-in-out;
    }

    .flex-buttoms {
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    .cantidad {
        margin: 3px 0;
    }

    .flex-carrito {
        flex-direction: column-reverse;
        margin:0;
    }

    .contenedor-carrito {
        width: 100%;
        margin: 20px 0px;
    }

    .contenedor-formulario {
        width: 100%;
        margin: 8px 0px;
    }
}


/*Estilos de longin y signup*/

.contenedor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 0 0 0 3px greenyellow, 0.4em 0.4em 1em blue;
}

    .form-container a {
        font-size: 13px;
        font-weight: bold;
    }

.contenido {
    background: linear-gradient(to bottom,blue,greenyellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 14px;
}

.formulario {
    width: 100%;
    height: 100%;
}

    .formulario h1 {
        font-weight: 900;
    }

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;
    overflow: hidden;
}

.texto::placeholder {
    color: rgb(139, 139, 139);
}

.texto {
    text-align: center;
    background: none;
    border: 3px solid lightgrey;
    border-radius: 20px;
    padding: 6px;
    font-size: 15px;
    font-weight: 900;
    outline: none;
    margin: 15px 0;
    transition: all .3s ease-in-out;
    width: 100%;
}

.form-buttom {
    text-align: center;
    background: linear-gradient(to right, blue, greenyellow);
    border: 0;
    padding: 6px 2px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    margin: 15px 0;
    width: 100%;
    transition: all .1s ease-in-out;
}

    .form-buttom:active {
        transform: scale(95%);
    }

.buttom-tranparent {
    font-size: 15px;
    border: solid 2px white;
    padding: 7px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: default;
    width: 70%;
    transition: all .1s ease-in-out;
}

    .buttom-tranparent:active {
        transform: scale(95%);
    }

.contenedor-modal {
    position: fixed;
    display: flex;
    align-items: center;
    background: none;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: -20;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.form-buttom-close {
    position: fixed;
    display: flex;
    left: 97%;
    top: 1%;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    border: solid 2px lightgrey;
    background: white;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    transform: scale(0%);
}

    .signup-container div {
        display: flex;
        width: 100%;
        margin: 0;
    }

@media(max-width:570px) {

    .form-container {
        margin-inline: 25px;
        flex-direction: column-reverse;
        height: auto;
    }

    .signup-container {
        margin: 20px 10px;
    }

    .form-buttom-close {
        left: 95%;
    }

    .contenido {
        font-size: 20px;
        width:100%;
    }

        .contenido label {
            margin: 14px 0;
        }

    .buttom-tranparent {
        font-size: 13px;
        margin: 14px 0;
    }
}

@media only screen and (max-width:280px) {
    .contenido {
        font-size: 18px;
    }

    .buttom-tranparent {
        font-size: 8px;
    }

    .texto {
        font-size: 8px;
    }

    .formulario h1 {
        font-size: 19px;
    }

    .form-buttom {
        font-size: 12px;
    }
}
