
.contenedor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top:28px;
}

.form-container{
    display:flex;
    width:800px;
    height:500px;
    border-radius:10px;
    overflow:hidden;
    border:solid 2px lightgrey;
}
.contenido {
    background: linear-gradient(to top left,blue,greenyellow);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    color:white;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    padding:14px;
}

.formulario {
    width: 100%;
    height:100%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;
    overflow: hidden;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 560px;
    height: auto;
    padding: 10px;
    z-index: 0;
    background: none;
    opacity: 0;
    border: solid 3px lightgrey;
    border-radius: 10px;
}

    .signup-container div {
        display: flex;
        width: 100%;
        margin: 0;
    }

.texto::placeholder {
    color: rgb(139, 139, 139);
}

.texto {
    text-align: center;
    background: none;
    border: 3px solid lightgrey;
    border-radius: 20px;
    padding: 6px;
    font-size: 15px;
    font-weight: 900;
    outline: none;
    margin: 15px 0;
    transition: all .3s ease-in-out;
    width: 100%;
}

.form-buttom {
    text-align: center;
    background: linear-gradient(to right, blue, greenyellow);
    border: 0;
    padding: 8px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    margin: 15px 0;
    width: 100%;
    transition: all .1s ease-in-out;
}
    .form-buttom:active {
        transform: scale(95%);
    }

    @media(max-width:570px){
        .form-container{
            margin:0 10px;
            flex-direction:column-reverse;
        }
        .contenido{
            font-size:24px;
        }
    }