body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(blue,greenyellow);
    border-radius: 10px;
}

.cajatexto {
    outline: none;
    border: 0;
    color: black;
    padding: 8px 10px;
    margin: 0;
    width: 50%;
    border-radius: 0;
    font-weight: 900;
    border-radius: 7px 0px 0px 7px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
    background-color: rgb(238 238 238)
}

    .cajatexto:hover {
        background-color: #e2e2e2
    }


.boton {
    border: 0;
    color: white;
    font-size: 23px;
    padding: 8px;
    width: 40px;
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
    border-radius: 0px 7px 7px 0px;
    background-color: blue;
    transition: all 0.3s ease;
    font-weight: 900;
}

    .boton:hover {
        color: white;
        background-color: darkblue;
    }




.fila {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento {
    padding: 10px;
}


/*Targeta del producto*/
.imagenproducto {
    width: 200px;
    height: 200px;
}

.targeta {
    width: auto;
    height: 100%;
    border: solid 1px;
    border-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.cabeza-targeta {
    border-bottom: solid 1.5px lightgray;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}

.pie-targeta {
    border-top: solid 1.5px lightgray;
    text-align: center;
}

.cuerpo-targeta {
    padding: 45px;
    text-align: center;
}

.labelstock {
    font-size: 17px;
}

.nombreproducto {
    font-size: 17px;
    font-weight: 800;
    color: blue;
}

.descripcionproducto {
    font-size: 15px;
    font-weight: 500;
}

.precio {
    color: green;
    font-size: 17px;
    font-weight: 700;
}

.botones {
    margin-top: 5px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.botoncarrito {
    border: none;
    border: solid 1px;
    background: none;
    margin: 5px;
    height: 35px;
    font-weight: 900;
    border-radius: 6px;
    color: lawngreen;
    text-decoration: none;
    border-color: lawngreen;
    width: 100%;
    transition: all 0.3s ease;
}

.botondetalle {
    border: none;
    border: solid 1px;
    margin: 5px;
    background: none;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    font-weight: 800;
    color: blue;
    border-color: blue;
    transition: all 0.3s ease;
}

.botoncarrito:hover {
    background-color: lawngreen;
    color: white;
}

.botondetalle:hover {
    background-color: blue;
    color: white;
}

.texto {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}


/*Detalles del producto*/
.flex {
    display: flex;
    align-items: center;
}

.productoimg .img {
    width: 450px;
    height: 450px;
    margin: 10px;
}


.nombreproducto2 {
    font-size: 30px;
    font-weight: 700;
    color: blue;
}

.nombreproducto3 {
    font-size: 24px;
    font-weight: 700;
    color: blue;
}

.precio2 {
    color: green;
    font-size: 24px;
    font-weight: 700;
}

.stock {
    font-size: 22px;
    font-weight: 900;
}

    .stock i {
        font-size: 22.5px;
        font-weight: 900;
        margin-right: 3px;
    }

.descripcionproducto {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    color: gray;
}

/*Diseño del carrito de compras*/
.textoboton {
    margin: 0 22px;
    font-weight: 800;
    font-size: 17px;
    color: red;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

    .textoboton:hover {
        color: red;
    }

    .textoboton:active {
        transform: scale(90%);
    }

table {
    width: 100%;
    border-collapse: collapse;
}

    table thead {
        background: linear-gradient(to right, blue,greenyellow);
    }

        table thead tr th {
            text-align: center;
            padding: 6px 0;
            color: white;
        }

    table tbody tr {
    }

        table tbody tr td {
            text-align: center;
            font-weight: bold;
        }

            table tbody tr td img {
                width: 60px;
                height: 60px;
                margin: 10px 0;
            }

.flex-buttoms {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.item-price {
    color: green;
}

.btn-quantity {
    text-decoration: none;
    color: black;
    border: solid 2px blue;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

    .btn-quantity:hover {
        color: white;
        background-color: blue;
    }

.cantidad {
    border: solid 2px blue;
    padding: 0px 5px;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
    text-align:center;
}

    .cantidad:hover {
        color: white;
        background-color: blue;
    }


/*Formulario de pedido*/
.form-pago {
    display: flex;
    flex-direction: column;
    border-top: solid 4px greenyellow;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px grey;
    padding: 14px
}

    .form-pago label {
        margin: 10px 5px;
        font-weight: 900;
    }

    .form-pago .textopago {
        background: none;
        border: 0px;
        text-align: center;
        border-bottom: solid 3px blue;
        color: green;
        font-weight: bold;
    }

    .form-pago .botonpedido {
        margin: 18px 0;
        border: 0px;
        background: blue;
        padding: 6px 0;
        color: greenyellow;
        font-weight: bold;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }

        .form-pago .botonpedido:hover {
            background-color: greenyellow;
            color: blue;
        }

/*Posicionar carrito y formulario*/
.flex-carrito {
    display: flex;
}

.contenedor-carrito {
    width: 100%;
    margin: 2px;
}

.contenedor-formulario {
    width: 50%;
    margin: 2px;
}


/*Adaptacion a dispositvos moviles*/
@media(max-width:410px) {
    .productoimg .img {
        width: 100%;
        height: 100%;
    }

    .descripcionproducto {
        font-size: 12px;
        font-weight: bold;
    }
}

@media only screen and (max-width:1000px) {
    .flex {
        display: block;
    }

    .productoimg {
        text-align: center;
    }

        .productoimg .img {
            width: 300px;
            height: 300px;
        }

    .botones {
        flex-direction: column;
        font-size: 15px;
    }

    .nombreproducto {
        font-size: 13px;
    }

    .precio {
        font-size: 10px;
    }

    .labelstock {
        font-size: 13px;
    }

    .imagenproducto {
        text-align: center;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width:1199px) {
    .imagenproducto {
        text-align: center;
        width: 135px;
        height: 135px;
    }
}

@media only screen and (max-width:1000px) {
    .imagenproducto {
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

/*carrito*/
@media only screen and (max-width:400px) {
    table {
        font-size: 1px;
    }
}

@media only screen and (max-width:820px) {
    table {
        font-size: 10.5px;
        font-weight: bold;
    }

    .cantidad {
        border: solid 2px blue;
        padding: 0px 5px;
        border-radius: 5px;
        margin: 0 10px;
        transition: all 0.2s ease-in-out;
    }

    .dis-none {
        display: none;
    }

    .flex-buttoms {
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    .cantidad {
        margin: 3px 0;
    }

    table tbody tr td span {
        margin: 10px;
    }

    .flex-carrito {
        flex-direction: column-reverse;
    }

    .contenedor-carrito {
        width: 100%;
        margin: 9px 3px;
    }

    .contenedor-formulario {
        width: 100%;
        margin: 9px 3px;
    }
}
