body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background: white;
}

.cajatexto {
    outline: none;
    border: 0;
    color: black;
    padding: 8px 10px;
    margin: 0;
    width: 50%;
    border-radius: 0;
    font-weight: 900;
    border-radius: 7px 0px 0px 7px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
    background-color: rgb(238 238 238)
}

    .cajatexto:hover {
        background-color: #e2e2e2
    }


.boton {
    border: 0;
    color: white;
    font-size: 23px;
    padding: 8px;
    width: 40px;
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
    border-radius: 0px 7px 7px 0px;
    background-color: blue;
    transition: all 0.3s ease;
    font-weight: 900;
}

    .boton:hover {
        color: white;
        background-color: darkblue;
    }




.fila {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento {
    padding: 10px;
}

.imagenproducto {
    width: 200px;
    height: 200px;
}

.targeta {
    width: 370px;
    height: 100%;
    border: solid 1px;
    border-color: lightgray;
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    transition: all 0.3s ease;
}

.cabeza-targeta {
    border-bottom: solid 1.5px lightgray;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}

.pie-targeta {
    border-top: solid 1.5px lightgray;
    text-align: center;
}

.cuerpo-targeta {
    padding: 45px;
    text-align: center;
}

.nombreproducto {
    font-size: 19px;
    font-weight: 900;
}

.descripcionproducto {
    font-size: 13px;
    font-weight: 700;
}

.precio {
    color: greenyellow;
    font-size: 20px;
    font-weight: 800;
}

.botones {
    margin-top: 5px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botoncarrito {
    border: none;
    border: solid 1px;
    background: none;
    font-size: 16px;
    margin: 5px;
    height: 35px;
    font-weight: 900;
    border-radius: 6px;
    color: lawngreen;
    text-decoration: none;
    border-color: lawngreen;
    width: 100%;
    transition: all 0.3s ease;
}

.botondetalle {
    border: none;
    border: solid 1px;
    margin: 5px;
    background: none;
    width: 100%;
    height: 35px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 800;
    color: blue;
    border-color: blue;
    transition: all 0.3s ease;
}

.botoncarrito:hover {
    background-color: lawngreen;
    color: white;
}

.botondetalle:hover {
    background-color: blue;
    color: white;
}

.texto {
    font-weight: 800;
    font-size: 15px;
}

.textodescripcion {
    font-weight: 900;
    font-size: 13px;
}

.textoboton {
    margin: 0 22px;
    font-weight: 800;
    font-size: 14px;
}

.cantidad {
    font-weight: 900;
    background: none;
    width: 40px;
    height: 100%;
    font-size: 12px;
    border: solid 1px blue;
    padding: 7.2px;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btncantidad {
    text-decoration: none;
    color: black;
    align-items: center;
    height: 100%;
    font-weight: 900;
    font-size: 10px;
    border: solid 1px blue;
    padding: 11px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

    .btncantidad:hover {
        background-color: blue;
        color: white;
    }

.cantidad:hover {
    background-color: blue;
    color: white;
}

.cuerpotabla {
    margin: 120px 0;
}

.celda {
    padding: 0 22px;
}

.formulariopago {
    background-color: rgb(232 232 232 / 0.70);
    text-align: center;
    border-radius: 30px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(101 97 97);
}

    .formulariopago div {
        padding: 5px 10px;
    }

.textopago {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: rgb(221 221 221);
    padding: 5px;
    font-weight: 700;
}

.botonpedido {
    border: none;
    background-color: rgb(255 0 0);
    color: white;
    border-radius: 16px;
    font-weight: 700;
    font-size: 15px;
    width: 70%;
    padding: 8px;
    transition: all 0.3s ease;
}

    .botonpedido:hover {
        background-color: rgb(103 0 0);
        color: white;
    }

.contenedor-formulario {
    background-color: rgb(225 225 225);
    border-radius: 30px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(109 109 109);
    height: 560px;
}

.formulario {
    text-align: left;
}

    .formulario div label {
        font-weight: 900;
    }

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.input {
    border: none;
    width: 560px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(203 203 203);
}

@media(max-width:800px) {


    .imgproducto {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
